@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --heading: #fcb026;
    --para: #00000;
    --para-tint: #e4e4e4;
    --white: rgba(0, 0, 0, 0.2);
    --wit: #ffffff; /*hover after*/
    --black: #212529;
    --helper: #fcb026;
    --overlay: #00000;
    --helper-tint: #00000;
    --bg: rgb(251, 250, 230); /*bg color in 1st page rgb(249 249 255), rgb(238, 238, 250), rgb(251, 250, 231)(yellow*/
    --icons-bg: #fcb026;
    --gradient: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    --gradientSupport: -webkit-linear-gradient(
      0deg,
      #fcb026 0%,
      #fcb026 100%
    );
    --shadow: 0px 0px 20px 0px rgba(26, 27, 34, 0.2);
    --shadowSupport: 0px 20px 20px 0px rgba(27, 28, 37, 0.3);
  }

  
html {
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
    /* 1rem = 10px */
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden; /*The overflow-x property controls what happens when content overflows the left and right edges of its container along the horizontal axis.
    hidden: This value means that any content that extends beyond the right or left edge of the <body> will be hidden. In other words, there will be no horizontal scrollbar, and the content will not be visible outside the specified width. */
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600; /*control the thickness or boldness of the text control the thickness or boldness of the text  */
  }
  
  h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
  }
  
  a {
    text-decoration: none; /*removes this underlining, making the hyperlink appear without any additional decoration.*/
  }
  
  li {
    list-style: none;
  }
  
  /* ===========================================
  Header Section Start
  ======================================= */
  
  .header {
    padding: 0 4.8rem;
    height: 10rem;
    /* background-color: var(--bg); */
    background: #fcb026;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    height: 7rem;
  }
  
  .navbar-lists {
    display: flex;  /*side by side */
    gap: 7rem;
    margin-right: 100px;
  }
  
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s linear;
    /* font-family: 'Roboto', sans-serif; */
  }
  
  .navbar-link:hover,
  .navbar-link:active {
    color: var(--wit);
  }
  
  .mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
  }
  
  .mobile-nav-icon[name="close-outline"] {
    display: none;
    width: 35px;
    height: 35px;
  }

  .mobile-nav-icon[name="menu-outline"] {
    width: 35px;
    height: 35px;
  }
  
  .sticky .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fcb026;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: var(--shadow);
  }
  
  .sticky .section-hero {
    margin-top: 10rem;
  }
  
  /* ===========================================
  Resuable Code Section 
  ======================================= */
  
  .section {
    padding: 9rem 0;
  }
  
  .container {
    max-width: 130rem; /*space from corner margin left*/
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    gap: 9rem; /*b/w two things columns*/
  }
  
  .grid-two-column {
    grid-template-columns: repeat(2, 1fr); /*two columns in page of equal space*/
    /* grid-template-columns: 1fr 1fr; */
  }
  
  .grid-three-column {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr; */
  }
  
  .grid-four-column {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr; */
  }
  
  .btn {
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s; /*supports on chrome, safari....*/
    -moz-transition: all 0.3s ease 0s; /*supports on firefox*/
    -o-transition: all 0.3s ease 0s; /*supports on opera*/
  }
  
  .btn:hover,
  .btn:active {
    /* box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%); */
    color: var(--wit);
    box-shadow: var(--shadowSupport)
  }
  
  .common-heading {
    font-size: 4.8rem;
    font-weight: 600; /*weight or thickness of the characters in a font, semi-bold, depending on the font family used.*/ 
    margin-bottom: 6rem;
    text-transform: capitalize; /*it will capitalize the first character of each word in the text.*/
    position: relative;
  }
  
  .common-heading::before {
    content: "";/* property is used to generate an empty content box for the pseudo-element.*/
    position: absolute; /**/
    top: 110%;
    left: 0;
    width: 1.5rem; /*set the dimensions of the pseudo-element to create a circular shape.*/
    height: 1.5rem; /*set the dimensions of the pseudo-element to create a circular shape.*/
    background: var(--helper); 
    border-radius: 50%; /*creates a circular border by setting the border radius to 50%.*/
  }
  
  .common-heading::after {
    content: "";
    position: absolute; /*sets the positioning context*/
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
  
    height: 0.3rem;
    background: var(--helper);
  }
  
  /* ===========================================
  hero Section Start
  ======================================= */
  
  .section-hero {
    background-color: var(--bg);
  }
  
  .section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
  }
  
  .hero-top-data {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
  }
  
  .hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
  }
  
  .hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
  }
  
  .section-hero-image {
    display: flex;
    justify-content: center; /*the motive of writing these 3 lines code is to make the item at the center of the column*/
    align-items: center;
  }
  
  picture {
    text-align: center;
  }
  
  .hero-img {
    max-width: 70%; /*70*/
  }
  
  /* ===========================================
  BIO Section Start
  ======================================= */
  
  .bio-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bio-image img {
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper); /*20px side and 20px bottom and - sign means oppsite side and upper*/
    display: inline-block;
  }
  
  .bio-data-stats {
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap: 3rem;
  }
  
  .bio-stats h3 {
    margin-bottom: 1rem;
  }
  
  .bio-progress-bar {
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
  }
  
  .bio-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
  }
  
  .bio-progress-2::before {
    width: 99%;
  }
  
  .bio-progress-3::before {
    width: 90%;
  }
  
  .bio-progress-4::before {
    width: 85%;
  }
  
  .bio-progress-5::before {
    width: 70%;
  }
  
  .bio-progress-bar span {
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: black;
    display: flex; /* makes things inside act flexibly, adjusting their sizes and positions for a better layout. */
    justify-content: center;
    align-items: center;
  }
  
  .bio-progress-bar span {
    left: 76%;
  }
  
  .bio-progress-2 span {
    left: 95%; /*actual data is 99% but here 95% because to show the data box under the bar exactly center so we subtract 4 rem.*/
  }
  
  .bio-progress-3 span {
    left: 86%;
  }
  
  .bio-progress-4 span {
    left: 81%;
  }
  
  .bio-progress-5 span {
    left: 66%;
  }
  
  /* to create a caret , 1st make a 4 box with 4 sides and make the width and height 0 and make the top visible and rest transparent*/
  .bio-progress-bar span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -1.6rem;
  }
  /* ===========================================
  porfolio Section Start
  ======================================= */
  .section-portfolio {
    background: var(--bg);
    transition: all 0.7s linear;
  }
  
  .section-portfolio p {
    max-width: 60rem;
  }
  
  .p-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-top: 6.4rem;
    margin: 6.4rem 0;
  }
  
  .portfolio-images {
    gap: 3.2rem;
    /* margin-top: 6.4rem; */
  }
  
  .portfolio-images img {
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
  }
  
  .img-overlay {
    position: relative;
    overflow: hidden;
  }

    
  .img-overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e7bf75; /*image overlay color change*/
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
  }
  
  .img-overlay:hover > .overlay {
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
  }
  
  .img-overlay .common-heading {
    margin: 0;
    color: #484848/*var(--white)*/;
    text-decoration: none;
  }
  
  .p-btn-active {
    transform: translateY(-1rem);
  }
  
  .p-image-not-acitve {
    display: none;
  }
  .portfolio-images img {
    height: 250px; /* Set a specific height for all images */
  }
  
  
  
  /* ===========================================
  work data Section Start
  ======================================= */
  
  .section-work-data {
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    color: #adadad;
  }
  
  .counter-numbers {
    font-size: 4.8rem;
  }
  
  .section-work-data p {
    color: #adadad;
    text-transform: capitalize;
  }
  /* ===========================================
  work data Section Start
  ======================================= */
  
  .section-work-data {
    background: black;
    text-align: center;
    transition: all 0.7s linear;
    color: #adadad;
  }
  
  .counter-numbers {
    font-size: 4.8rem;
  }
  
  .section-work-data p {
    color: #adadad;
    text-transform: capitalize;
  } 

  
  /* ===========================================
  our services Section Start
  ======================================= */
  .section-services {
    transition: all 0.7s linear;
  }
  
  .section-services p {
    max-width: 60rem;
  }
  
  .section-services .grid {
    margin-top: 10rem;
    row-gap: 10rem;
  }
  
  .service-box {
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
  }
  
  .service-box:hover,
  .service-box:active {
    transform: translateY(-3rem);
  }
  
  .service-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--icons-bg);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: black;
    animation: water-wave 3s linear infinite;
  }
  
  .service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background: transparent;
    border: 1px solid var(--black);
    animation: water-wave 3s linear infinite;
  }
  
  @keyframes water-wave {
    0% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50% {
      border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
  }
  
  .service-box h3 {
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  /* ===========================================
  our REsume Section Start
  ======================================= */
  
  .section-resume {
    background: var(--bg);
    transition: all 0.7s linear;
  }

/* Styles for the left half */
.resume-left {
  flex: 1;
  padding-right: 20px; /* Adjust as needed */
}

/* Styles for the right half */
.resume-right {
  flex: 1;
  /* padding-left: 20px; */
}

/* Common styles for both left and right */
.section-resume {
  background: var(--bg);
  transition: all 0.7s linear;
}

.resume-para {
  font-size: 2.4rem;
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--heading);
  margin-bottom: 2rem; /* Add margin-bottom for spacing */
}

.resume-data-subsection {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 4.8rem;
  margin-top: 4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--para-tint);
}

.resume-data-left .grid {
  gap: 1.5rem;
}

.resume-data-left h3 {
  margin-bottom: 1rem;
}

.resume-data-left .grid p,
  .resume-data-right p {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .resume-data-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .resume-data-right .resume-data-button {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--helper);
    padding: 0.3rem 0;
    /* min-width: 60%; */
    width: 100px;
    background: #f3f4ff;
    justify-content: center;
    border-radius: 10rem;
    margin-bottom: 0.5rem;
  }

  .resume-data-left .grid p,
.resume-data-right p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem; /* Increased gap for better spacing */
}

.resume-data-right ion-icon {
  width: 1.6rem; /* Fixed width for all icons */
  height: 1.6rem; /* Fixed height for all icons */
}

.resume-data-left ion-icon {
  width: 1.6rem; /* Fixed width for all icons */
  height: 1.6rem; /* Fixed height for all icons */
  margin-right: 0.5rem; /* Adjusted margin for better alignment */
}


.resume-data-bottom-subsection {
  margin-top: 12rem; /* Adjust this value as needed */
}

.resume-data-bottom-subsection .margin-small {
  margin-top: 3.5rem;
}
  
  /* ===========================================
  contact Section Start
  ======================================= */
  
  .section-contact-main {
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
  }
  
  .section-contact-main .grid {
    gap: 3.2rem;
  }
  
  .section-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  .section-contact-main input,
  .section-contact-main textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: "work sans";
    width: 100%;
  }
  
  .section-contact-main input[type="submit"] {
    max-width: 30%;
    border: none;
  }
  
  /* ===========================================
  Footer Section Start
  ======================================= */
  
  .section-footer {
    background: black;
    transition: all 0.7s linear;
  }
  
  .section-footer h3 {
    color: #fcb026;
    margin-bottom: 4rem;
  }
  
  .f-about p {
    color: #adadad;
  }
  
  .f-links ul,
  .f-services ul,
  .f-address address {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
  }
  
  .f-links li,
  .f-links a,
  .f-services li,
  .f-services a {
    font-size: 1.8rem;
    color: #adadad;
    text-transform: capitalize;
  }
  
  .f-links span,
  .f-services span,
  .f-address span {
    margin-right: 1rem;
  }
  
  .f-address p,
  .f-address p a {
    font-style: normal;
    color: #adadad;
  }
  
  .f-social-icons {
    margin: 5rem 0;
    text-align: center;
    color: #121212;
    padding-top: 20px;
  }
  
  .f-social-icons .icons {
    width: 4rem;
    height: 4rem;
    background-color: #ffffff;
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: black;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
  }
  
  .f-credits p {
    text-align: center;
    color: white;
  }
  
  .footer a:hover,
  .footer a:active {
    color: var(--white);
  }
  
  /* ===========================================
  Scroll Section Start
  ======================================= */
  
  .scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
  }
  
  .scroll-top {
    width: 4rem;
    height: 4rem;
    background: #fcb026;
    display: inline-block;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: red;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
  }
  
  /* ===========================================
  /* media queries 
  ======================================= */
  /* px  */
  /* rem  */
  /* em  */
  /* 1500px */
  @media (max-width: 95em) {
    .container {
      max-width: 130rem;
      padding: 0 3.2rem;
    }
  
    .navbar-lists {
      gap: 3.4rem;
    }
  }
  /* ------------------------------------------------------------------------------ */
  .icons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .icons a {
    text-decoration: none;
    color: #fcb026;
  }
  
  .icons ion-icon {
    color: #fcb026;
    font-size: 30px;
    margin-bottom: 10px;
    transition: 0.3s ease;
  }
  
  .icons ion-icon:hover {
    color: black;
  }

  .section-footer section .icons {
    display: none;
  }

/* ===========================================
Media Queries Section
======================================= */

/* for widht below 1200px  */
@media (max-width: 75em) {
  .container {
    max-width: 110rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }

  .grid {
    gap: 4.8rem;
  }

  html {
    font-size: 56.25%;
  }
}

/* media queries less then 980px */
@media (max-width: 980px) {
  /* to make all the container with same padding  */
  .container {
    padding: 0 3.2rem;
  }

  html {
    font-size: 50%;
  }

  /* when we are in 980px we need to show the menu open icon */
  .mobile-navbar-btn {
    display: block;
    /* background-color: #212529; */
    z-index: 99999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  /* .header .logo {
    width: 10%;
  } */

  .navbar {
    width: 100%;
    height: 100vh;
    background: rgb(251, 250, 230);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #212529;
    font-size: 3.2rem;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* hero section  */

  .section-hero h1 {
    line-height: 1.05;
  }

  /* section bidoata  */
  .section-biodata .grid {
    gap: 3rem;
  }

  /* section work  */
  .section-work-data .common-numbers {
    font-size: 3.2rem;
  }

  /* services section-----------------  */

  .section-services .grid {
    gap: 6rem;
  }

  .section-services .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ------------------------------------------ */

    /* services section-----------------  */

    .section-portfolio .grid {
      gap: 6rem;
    }
  
    .section-portfolio .grid-three-column {
      grid-template-columns: repeat(2, 1fr);
    }
/* --------------------------------- */
  /* resume section  */
  .section-resume .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-resume .grid {
    gap: 0rem;
  }

  /* .section-resume .grid-two-column img {
    width: 50%;
  } */
  /* .resume-img {
    grid-row: 2;
    transform: translateY(-2rem);
  } */

  /* ------------------------------------ */

  /* about section */
    .section-biodata .grid-two-column {
      grid-template-columns: 1fr;
    }
  
    .section-biodata .grid-two-column img {
      width: 50%;
    }

    .section-biodata .grid{
      gap: 8rem;
    }
    .bio-image {
      grid-row: 2;
      transform: translateY(-2rem);
    }
/* footer section ------------------- */
  .section-footer .grid-four-column {
    grid-template-columns: 1fr 1fr;
  }
  .section-footer .grid {
  gap: 6rem;
  }
  
}

/* Below 780px  */
@media (max-width: 780px) {
  .container {
    max-width: 720px;
  }
  /* hero section  */
  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-hero-data {
    align-items: center;
  }

  /* .section-hero-data .hero-top-data {
    /* align-self: flex-start; 
  } */

  .hero-heading {
    text-align: center;
  }
  .hero-para {
    text-align: center;
    margin-top: 2rem;
  }

  .section-hero img {
    width: 70%;
  }

  /* work section  */
  .section-portfolio .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 3.2rem;
  }

  /* .header .logo {
    width: 60%;
  } */

  /* secion .bio-data */

  .section-biodata .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-biodata .bio-image {
    grid-row: 2;
    margin-top: 3.2rem;
  }

  /* work section  */
  .section-work-data .grid-four-column {
    grid-template-columns: 1fr 1fr;
  }

  /* services section  */
  .section-services .grid-three-column {
    grid-template-columns: 1fr;
  }

  .section-portfolio .grid-three-column {
    grid-template-columns: 1fr;
  }

  .section-contact .grid-two-column {
    grid-template-columns: 1fr ;
  }

    .icons {
    position: fixed;
    top: 55%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
    
    .icons ion-icon {
    color: #fcb026;
    font-size: 25px;
    margin-bottom: 10px;
    transition: 0.3s ease;
  }

  .section-contact{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Below 480px  */
@media (max-width: 30em) {
  .header {
    padding: 0 3.2rem;
  }

  /* footer section ------------------- */
  .section-footer .grid-four-column {
    grid-template-columns: 1fr;
  }
  .section-footer .grid {
  gap: 6rem;
  }

  .section-footer{
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .section-resume .common-heading{
    font-size: 400%;
   } */

   .resume-data-subsection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;}
    
    .resume-data-right.resume-data-button,
    .resume-data-bottom-subsection
    resume-data-button {
    min-width: 30%;
    }
    
    .resume-data-right {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4rem;
    }
   
}
